In [3]:
import pandas as pd
from scipy.stats import f_oneway

data1 = pd.read_csv("MTA6Data1.csv")
data2 = pd.read_csv("MTA6Data2.csv")
data1

   Method 1  Method 2  Method 3
0        45        50        60
1        50        55        63
2        40        49        55
3        43        52        52
4        47        53        58

In [12]:
result = f_oneway(*[data1[col] for col in data1.columns])
result

F_onewayResult(statistic=15.496103896103909, pvalue=0.00047287786700891694)