In [5]:
import pandas as pd

df = pd.read_csv('Activity5.csv').set_index("Day")
df

     Restaurant1  Restaurant2
Day
1           5828         7894
2           9836        11573
3           3984         5319
4           5845         6389
5           5210         6055
6           9668        10631
7           6768         7866
8           6726         7976
9           4399         5652
10          6692         8083

In [6]:
df.describe()

       Restaurant1   Restaurant2
count     10.00000     10.000000
mean    6495.60000   7743.800000
std     1961.11806   2058.801528
min     3984.00000   5319.000000
25%     5364.50000   6138.500000
50%     6268.50000   7880.000000
75%     6757.50000   8056.250000
max     9836.00000  11573.000000

***QUESTION A: Calculate a 95% confidence interval for the mean difference at restuarant sales.***

In [7]:
import scipy.stats as stats
result = stats.ttest_ind(df['Restaurant1'],df['Restaurant2'], equal_var=False)
ci = result.confidence_interval()
interval = [ci.low, ci.high]
interval

[-3137.5565986011516, 641.1565986011517]

***QUESTION B: The owner wants to know if thre is evidence of a difference between the average daily food sales of the two restaurants. Testing using alpha = 0.01***

In [ ]:
if result.pvalue < 0.01:
    print("At alpha = 0.01 there is sufficient evidence to reject the the claim that there is no difference between average daily food sales at the two restuarants.")
else: 
    print("At alpha = 0.01 there is not sufficient evidence to reject the the claim that there is no difference between average daily food sales at the two restuarants.")

At alpha = 0.01 there is not sufficient evidence to reject the the claim that there is no difference between average daily food sales at the two restuarants.