In [ ]:
import pandas as pd

**Roll 60 times and record results**

In [6]:
import random

def roll_dice(num_sides=6):
    return random.randint(1, num_sides)


rolls = []
for _ in range(60):
    rolls.append(roll_dice())
df = pd.DataFrame(rolls)
df

    0
0   4
1   1
2   1
3   4
4   6
5   3
6   5
7   4
8   4
9   3
10  6
11  3
12  5
13  4
14  5
15  3
16  2
17  6
18  1
19  3
20  5
21  1
22  3
23  1
24  5
25  1
26  1
27  5
28  2
29  5
30  1
31  4
32  2
33  5
34  2
35  1
36  6
37  3
38  5
39  1
40  5
41  3
42  5
43  4
44  2
45  5
46  2
47  6
48  2
49  1
50  2
51  1
52  4
53  6
54  4
55  4
56  6
57  6
58  2
59  1

In [16]:
print("Mean: " + str(df.mean()[0]) + "\nStandard Deviation: " + str(df.std()[0]))

Mean: 3.3833333333333333
Standard Deviation: 1.7572288147377486

**Remap 5 and 6 to success, everything else as failure**

In [ ]:
mapped = []
for _, row in df.iterrows():
    if row[0] > 4:
        mapped.append(True)
    else:
        mapped.append(False)

dfMapped = pd.DataFrame(mapped)
dfMapped

        0
0   False
1   False
2   False
3   False
4    True
5   False
6    True
7   False
8   False
9   False
10   True
11  False
12   True
13  False
14   True
15  False
16  False
17   True
18  False
19  False
20   True
21  False
22  False
23  False
24   True
25  False
26  False
27   True
28  False
29   True
30  False
31  False
32  False
33   True
34  False
35  False
36   True
37  False
38   True
39  False
40   True
41  False
42   True
43  False
44  False
45   True
46  False
47   True
48  False
49  False
50  False
51  False
52  False
53   True
54  False
55  False
56   True
57   True
58  False
59  False