In [1]:
import pandas as pd

numbers = [83.9, 87.4, 65.2, 86, 73.1, 80.3, 92.7, 87.5, 69.3, 77.5, 91.9, 71.1, 79.1, 72.4, 88.2]
df = pd.DataFrame(numbers)
df

       0
0   83.9
1   87.4
2   65.2
3   86.0
4   73.1
5   80.3
6   92.7
7   87.5
8   69.3
9   77.5
10  91.9
11  71.1
12  79.1
13  72.4
14  88.2

In [5]:
print("Sample Mean: " + str(df.mean()[0]) + "\nSample Deviation: " + str(df.std()[0]))

Sample Mean: 80.37333333333332
Sample Deviation: 8.683026683187862